body, html {
  border: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1b1c20;
}

a {
  font-family: sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.line {
  min-height: 8px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
}

.block {
  height: inherit;
}

.ref_message_cont {
  width: inherit;
  height: inherit;
  right: 100px;
  color: rgb(61, 61, 61);
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
}
